<!--Button needed class="profile-create-btn"-->
<div class="profile-container">
  <section class="hero is-primary is-medium">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <h3 class="profileHeader">Goal~E</h3>
          </div>
            <div class="navbar-end">
              <a id="logout" class="navbar-item">
                Logout
              </a>
            </div>
        </div>
      </nav>
    </div>
    <div class="createBtnContainer">
    <a href="/create" class="profile-create-btn">Create New Goal</a>
    <!-- Hero content: will be in the middle -->
    <!--Button needed in each container class ="profile-edit-btn"-->
    </div>
    {{#each goals as |goal|}}
    <div id="goalsList" class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          {{goal.title}}
        </p>
        <p class="subtitle">
          {{goal.description}}
        </p>
        <a href="/edit/{{goal.id}}"class="editGoalBtn" data-id="{{goal.id}}">Edit Goal</a>
        <a class="deleteGoalBtn" data-id="{{goal.id}}">Goal Completed</a>
        {{else}}
        <p class="empty">No Goals Yet</p>
      </div>
    </div>
    {{/each}}

<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>
